<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashboard</title>
  <script src = "./js/lib/jquery-3.1.1.min.js"></script>
  <link href="css/lib/bootstrap.css" rel="stylesheet" />
  <link href="css/app.css" rel="stylesheet" />
  <link href="css/main.css" rel="stylesheet" />
  <link href="css/app.responsive.css" rel="stylesheet" />
  
  <script src="js/lib/tether.min.js"></script>
  <script src="js/lib/underscore-min.js"></script>
  <script src="js/lib/bootstrap.js"></script>
  <script src="js/lib/backbone-min.js"></script>
  <script src="phonegap.js"></script>

  <!--Code Files-->
  <script src="js/app.js"></script>
  <script src="js/shared/constants.js"></script>
  <script src="js/shared/router.js"></script>
  <script src="js/shared/helper.js"></script>
  <script src="js/models/product-model.js"></script>
  <script src="js/pages/productlist.js"></script>
</head>
	
<body>
	<div class="container">
	<div class = "row" style="margin-top:20px">
            <div class="col-md-4" style="display:inline" >
               <img class ="img-responsive logo" src="./img/jangid.jpg" alt="Jangid Motors" style="height:60px">
            </div>
            <div class="col-md-8 text-right">
              <h1 class="heading" >Jangid Motors</h1> 
               <h3>Last Mile connectivety</h3> 
            </div>
         </div>	
	 <div class="row">
            <div class ="col-md-12">
               <hr class="horizontalRule"/>
            </div>
	</div>
	<div class="row">
		<div class=" col-md-12" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
	  <div class="col-md-12">
	   <img class ="img-responsive logo" src="./img/FingurePrint.jpg" alt="Jangid Motors" style="height:220px">
	  </div>
	</div>
	<div>
	<script type="text" id="indexTemplate">
         <div class="col-md-12" id="divTable" style="overflow:auto">
         <% if (_.isEmpty(locations)){ %>
        <div class="alert alert-warning">
          <p>There are currently no bookings. Try creating some (through admin menu).</p>
        </div>
      <% } %>

          <% _.each(locations, function (location) { %>
            <div class="form-group row">
              <div class="jumbotron">
              <label class="col-form-label">location: </label>
              <label class="col-form-label"> <%= location.LocationName %></label>
                &nbsp;&nbsp;|&nbsp;&nbsp; 
            </div>    
            </div>  
            <% }); %>			   
          </div>
		  </script>
      </div>
		</div>
</body>
<script>
  var app = new mainApp.ProductRouter();
</script>
</html>